*{
    padding: 0;
    margin: 0;
}
body{
    background-color: red;
    overflow: hidden;
    font-family: "Arvo", cursive;
}
.game_body{
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100%;
}

.gameOver{
    position: relative;
    top: 70px;
    font-family: 'Arvo', serif;
    font-size: 40px;
    text-align: center;
}
#scoreContent{
    color: #54212f;
    font-weight: bold;
    position: absolute;
    right: 45px;
    top: 31px;
    border: 2px solid black;
    padding: 10px;
    font-family: sans-serif;
}
.dino{
    background-image: url("dino.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
    width: 15vw;
    position: absolute;
    bottom: 0;
    left: 52px;
}
.dragon{
    background-image: url("dragon.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
    width: 11vw;
    position: absolute;
    left: 50vw;
    bottom: 0;
}
.dragonAni{
    animation: dragonAni 5s linear infinite;
}
.animatedDino{
    animation: dino 1s linear;
}

@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 400px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes dragonAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}